.simpleCart_shelfItem {
	position: absolute;
	top: 300px;
	left: 10px;

}

.fadeOutAnimation {
	transition: transform .3s linear .2s, opacity .8s linear;
	-moz-transition: -moz-transform .3s linear .2s, opacity .8s linear;
	-webkit-transition: -webkit-transform .3s linear .2s, opacity .8s linear;
	-o-transition: -o-transform .3s linear .2s, opacity .8s linear;

	-webkit-transform: scale(0,0);
	-o-transform: scale(0,0);
	-moz-transform: scale(0,0);
	transform: scale(0,0);
	opacity: .2;
}




#distributionSlider {
	width: 100%;
	margin-top: 50px;
}

#lightsSlider {
	width: 100%;
	margin-top: 120px;
}

.totalConsumption {
	float: right;
	margin-top: 20px;
}

table.sliderTable {
  border-spacing: 0px;
}

.barColor0 {
  background-color: #2ccce4;
}

.edgeColor0 {
  background-color: white;
  color: #2ccce4;
}

.barColor1 {
  background-color: #fdd835;
}

.edgeColor1 {
  background-color: white;
  color: #fdd835;
}

.barColor2 {
  background-color: #8c9eff;
}

.edgeColor2 {
  background-color: white;
  color: #8c9eff;
}

.barColor3 {
  background-color: #b8e986;
}

.edgeColor3 {
  background-color: white;
  color: #b8e986;
}


.percentBarColor0 {
  background-color: #F8E71C;
}

.percentEdgeColor0 {
  background-color: white;
  color: #F8E71C;
}

.percentBarColor1 {
  background-color: #FDD835;
}

.percentEdgeColor1 {
  background-color: white;
  color: #FDD835
}

.percentBarColor2 {
  background-color: #F5A623;
}

.percentEdgeColor2 {
  background-color: white;
  color: #F5A623
}

.percentBarColor3 {
  background-color: #b8e986;
}

.percentEdgeColor3 {
  background-color: white;
  color: #b8e986;
}


td.sliderTd {
  position: relative;
  padding: 1px;
  overflow: visible!important;
}


.edge {
  width: 6px;
  height: 25px;
  display: inline-block;
  position: relative;
  outline:3px solid;
}

.edge.left {
  position: absolute;
  left:3px;
  top: 3px;
}

.edge.right {
  position: absolute;
  right: 3px;
  top: 3px;
}

.sliderBar {
  position: absolute;
  height: 20px;
  width: 100%;
  top: 6px;
  display: inline-block;
}

.sliderTooltip {
  position: absolute;
  right: -40px;
  width: 90px;
  top: -85px;
  height: 60px;
  outline: 2px solid;
  border-radius: 2px;
}



.sliderTooltipHeader {
  width: 100%;
  height: 20px;
}

.sliderTooltipHeader span{
  color: white;
}

.sliderTooltip:after {
    border-top: 10px solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 60px;
    content: "";
    position: absolute;
    left: 35%;
    margin-left: 5px;
    width: 0;
    height: 0;
}